# Vite
#
.vite-ssg-dist
.vite-ssg-temp
dist
dist-ssr

# PNPM
#
node_modules

# Editors
#
.idea/

# Build
#
extension/background
extension/content-scripts
extension/options
extension/popup
extension/manifest.json
artifacts

# Environment
#
.env*
*.env
.chrome.pem

# Other
#
.DS_Store
components.d.ts
*.log
TODO.md
.old-webpack-extension
