* {
  padding: 0;
  margin: 0;
}

.video-container {
  background-color: black;
  height: 100%;
  min-height: 80vh;
  overflow: hidden;
  position: relative;
}

video {
  position: absolute;
  inset: 0;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.metadata {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
