.client .vjs-control-bar .vjs-progress-holder {
  opacity: 1;
}

.vrv-skip-timestamp {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  margin-left: -3px;
}

.vrv-skip-timestamp>div {
  background-color: white;
  margin-left: 2px;
  margin-right: 2px;
  width: 2px;
  height: 100%;
}

.vrv-skip-timestamp:hover>div {
  background-color: #F47521;
}