// Fonts - @import(https://fonts.googleapis.com/css?family=Overpass:300,400,500,800&display=swap)

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Overpass Light'), local('Overpass-Light'),
    url(https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81kOcc7D4howig.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Overpass Light'), local('Overpass-Light'),
    url(https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81kOcc7N4ho.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Overpass Regular'), local('Overpass-Regular'),
    url(https://fonts.gstatic.com/s/overpass/v4/qFdH35WCmI96Ajtm81GrU9vyww.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Overpass Regular'), local('Overpass-Regular'),
    url(https://fonts.gstatic.com/s/overpass/v4/qFdH35WCmI96Ajtm81GlU9s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Overpass ExtraBold'), local('Overpass-ExtraBold'),
    url(https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81kCdc7D4howig.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Overpass ExtraBold'), local('Overpass-ExtraBold'),
    url(https://fonts.gstatic.com/s/overpass/v4/qFdA35WCmI96Ajtm81kCdc7N4ho.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Globals

body * {
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2b78e0;
}

// prettier-ignore
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button {
  border: none;
  outline: none;
  height: 36px;
  padding: 0 12px;
  padding-top: 2px;
  font-weight: 800;
  font-size: 14px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.clickable,
.focusable {
  color: rgba(255, 255, 255, 0.9);
  background-color: #2b78e0;
  transform: translateY(-3px);
  box-shadow: 0 3px 0 0 #135dc1;
  transition: 200ms;
  border-radius: 3px;
}

/* .clickable:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 #135DC1;
} */

.clickable.dark,
.focusable.dark {
  background-color: #151a20;
  box-shadow: 0 3px 0 0 #0b0d10;
}

/* .clickable.dark:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 #0B0D10;
} */

.clickable.down,
.clickable.focus:active:hover,
.focusable:focus-within,
.focusable:focus {
  transform: translateY(0);
  box-shadow: 0 0 0 0 #135dc1;
}

.clickable.dark.down,
.clickable.dark.focus:active:hover,
.focusable.dark:focus-within,
.focusable.dark:focus {
  transform: translateY(0);
  box-shadow: 0 0 0 0 #0b0d10;
}

.clickable.invalid {
  background-color: $red500;
  box-shadow: 0 3px 0 0 $red700;
}

.clickable.invalid *::placeholder {
  color: white !important;
}

.clickable.invalid.down,
.clickable.invalid.focus:active:hover {
  transform: translateY(0);
  box-shadow: 0 0 0 0 $red500;
}

.clickable.transparent {
  opacity: 0.48;
}

.clickable.disabled {
  pointer-events: none;
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 0 0 0 transparent;
  opacity: 0.48;
}

.error-message {
  color: $red400;
  font-size: 15px;
  font-weight: 500;
}

h2.section-header {
  font-size: 14px;
  color: $textPrimary;
  margin: 0px;
  margin-top: 16px;
}
