@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,500,800&display=swap');

body * {
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2b78e0;
}

.button {
  border: none;
  outline: none;
  height: 36px;
  padding: 0 12px;
  padding-top: 2px;
  font-weight: 800;
  font-size: 14px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.clickable {
  color: rgba(255, 255, 255, 0.9);
  background-color: #2b78e0;
  transform: translateY(-3px);
  box-shadow: 0 3px 0 0 #135dc1;
  transition: 200ms;
  border-radius: 3px;
}

/* .clickable:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 #135DC1;
} */

.clickable.dark {
  background-color: #151a20;
  box-shadow: 0 3px 0 0 #0b0d10;
}

/* .clickable.dark:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 #0B0D10;
} */

.clickable.down,
.clickable.focus:active:hover {
  transform: translateY(0);
  box-shadow: 0 0 0 0 #135dc1;
}

.clickable.dark.down,
.clickable.dark.focus:active:hover {
  transform: translateY(0);
  box-shadow: 0 0 0 0 #0b0d10;
}

.clickable.invalid {
  background-color: $red500;
  box-shadow: 0 3px 0 0 $red700;
}

.clickable.invalid *::placeholder {
  color: white !important;
}

.clickable.invalid.down,
.clickable.invalid.focus:active:hover {
  transform: translateY(0);
  box-shadow: 0 0 0 0 $red500;
}

.clickable.transparent {
  opacity: 0.48;
}

.clickable.disabled {
  pointer-events: none;
  cursor: pointer;
}

.error-message {
  color: $red400;
  font-size: 15px;
  font-weight: 500;
}

h2.section-header {
  font-size: 14px;
  color: $textPrimary;
  margin-top: 16px;
}
